.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
img{
    border-radius: 50%;
}
